{% extends "NeutronAdminBundle::layout.html.twig" %}

{% block body %}
<div class="row">
    <div class="grid12">
        <article class="panel">
            <header ><h2>Headings</h2></header></header>
        </article>
    </div>
</div>
{% endblock %}