# Zend Studio files
.settings
.project
.buildpath
nbproject

# Project cache files
web/bundles/
web/media/*
web/temp/*
web/cached_assets/*
web/cache/*
app/bootstrap.php.cache
app/cache/*
app/logs/*
build/
vendor
bin
composer.phar
src/Neutron/*



# PHPUnit special files
phpunit.xml

# Backup files 
*.php~

# Filesystem
.DS_Store





