<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Backend{% endblock %}</title>
        {% block stylesheets %}

        {% endblock %}
		{% block headScripts %}


		{% endblock %}

	</head>
    <body>

        {% block body %}{% endblock %}

        {% block inlineScripts %}{% endblock %}

    </body>
</html>