imports:
    - { resource: parameters.yml }
    - { resource: security.yml }

framework:
    #esi:             ~
    translator:      { fallback: %locale% }
    secret:          %secret%
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: %kernel.debug%
    form:            true
    csrf_protection: true
    validation:      { enable_annotations: true }
    templating:      { engines: ['twig'] } 
    default_locale:  %locale%
    trust_proxy_headers: false
    session: 
        lifetime: 0
     

# Twig Configuration
twig:
    debug:            %kernel.debug%
    strict_variables: %kernel.debug%
    globals:
        site_url: %site_url%


# Assetic Configuration
assetic:
    debug:          %kernel.debug%
    use_controller: false
    bundles:        ["AppBundle"]
    #java: /usr/bin/java
    filters:
        cssrewrite: ~
        #closure:
        #    jar: %kernel.root_dir%/Resources/java/compiler.jar
        #yui_css:
        #    jar: %kernel.root_dir%/Resources/java/yuicompressor-2.4.7.jar

# Doctrine Configuration
doctrine:
    dbal:
        default_connection:   default
        connections:
            default:
                driver:   %database_driver%
                host:     %database_host%
                port:     %database_port%
                dbname:   %database_name%
                user:     %database_user%
                password: %database_password%
                charset:  UTF8
    orm:
        auto_generate_proxy_classes: %kernel.debug%
        default_entity_manager: default
        resolve_target_entities:
            Neutron\MvcBundle\Model\Category\CategoryInterface: AppBundle\Entity\Category 
            Neutron\Plugin\PageBundle\Model\PageInterface: AppBundle\Entity\Page
            Neutron\Plugin\CustomerService\Model\CustomerServiceReferenceInterface: AppBundle\Entity\CustomerServiceReference 
            Neutron\Plugin\CustomerServiceBundle\Model\CustomerServiceInterface: AppBundle\Entity\CustomerService
            Neutron\Plugin\CustomerServiceBundle\Model\CustomerServiceOverviewInterface: AppBundle\Entity\CustomerServiceOverview
            Neutron\Plugin\TeamMemberBundle\Model\TeamMemberOverviewInterface: AppBundle\Entity\TeamMemberOverview
            Neutron\Plugin\TeamMemberBundle\Model\TeamMemberReferenceInterface: AppBundle\Entity\TeamMemberReference
            Neutron\Plugin\TeamMemberBundle\Model\TeamMemberInterface: AppBundle\Entity\TeamMember
            Neutron\Plugin\ContactBundle\Model\ContactInterface: AppBundle\Entity\Contact
            Neutron\Plugin\ContactBundle\Model\ContactFormInterface: AppBundle\Entity\ContactForm
            Neutron\Plugin\ContactBundle\Model\ContactInfoInterface: AppBundle\Entity\ContactInfo
            Neutron\Plugin\ContactBundle\Model\ContactInfoReferenceInterface: AppBundle\Entity\ContactInfoReference
            Neutron\Plugin\ContactBundle\Model\WidgetContactInfoInterface: AppBundle\Entity\WidgetContactInfo
        entity_managers:
            default:
                connection: default
                auto_mapping: true
                mappings:
                    AppBundle: ~
                    NeutronAdminBundle: ~
                    gedmo_translatable:
                        type: annotation
                        prefix: Gedmo\Translatable\Entity
                        dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Translatable/Entity"
                        alias: GedmoTranslatable # this one is optional and will default to the name set for the mapping
                        is_bundle: false

stof_doctrine_extensions:
    default_locale: %locale%
    translation_fallback: true
    persist_default_translation: true
    orm:
        default:
            tree: true
            sortable: true
            translatable: %use_translatable%
        
# Swiftmailer Configuration
swiftmailer:
    transport: %mailer_transport%
    host:      %mailer_host%
    username:  %mailer_user%
    password:  %mailer_password%
    spool:     { type: memory }
    
fos_user:
    db-driver: orm
    firewall-name: main
    user-class: 'Neutron\UserBundle\Entity\User'
    group:
        group_class: Neutron\UserBundle\Entity\Group
    use_listener: true
    service:
        mailer: neutron_user.mailer.default
    registration:
        confirmation:
            enabled:    true
            from_email:
                address:        registration@zend.bg
                sender_name:    System
    resetting:
        form:
            type: neutron_user_resetting
        email:
            from_email:
                address:        resetting@zend.bg
                sender_name:    System
            template: NeutronUserBundle:Resetting:resetting.email.twig
    profile:
        form:
            type:               neutron_user_profile
            handler:            neutron_user.profile.form.handler.default
            validation_groups:  [Profile.Edit]
    from_email:
        address:        noreply@zend.bg
        sender_name:    System
 
 
#Neutron Admin Configuration
neutron_admin:
    acl:
        use_acl: true
    languages:
        backend:
            en: English     
            de: German     
            bg: Bulgarian 
        frontend:
            en: English     
            nl: Dutch
            bg: Български
 

# Neutron User Configuration
neutron_user:
    management: 
        notification:
            enabled: true
    group:
        group_class: Neutron\UserBundle\Entity\Group
    role:
        role_class: Neutron\UserBundle\Entity\Role
         
        
# Neutron Assetic Configuration
neutron_assetic:
    dump_dir: cached_assets  
    
neutron_data_grid:
    path_to_jqgrid: jquery/plugins/jqgrid
 
# Neutron Form Configuration
neutron_form: 
    timepicker:
        path_js: "jquery/plugins/timepicker/jquery-ui-timepicker-addon.js"
        path_css: "jquery/plugins/timepicker/jquery-ui-timepicker-addon.css"
    chosen:
        path_js: "jquery/plugins/chosen/js/chosen.jquery.min.js"
        path_css: "jquery/plugins/chosen/css/chosen.css"
    select:
        path: "jquery/plugins/select"
    colorpicker:
        path_js: "jquery/plugins/colorpicker/js/colorpicker.js"
        path_css: "jquery/plugins/colorpicker/css/colorpicker.css"
    rating:
        path_js: "jquery/plugins/rating/jquery.ui.stars.min.js"
        path_css: "jquery/plugins/rating/crystal-stars.css"
    input_limiter:
        path_js: "jquery/plugins/jquery-inputlimiter/jquery.inputlimiter.1.2.3.min.js"
        path_css: "jquery/plugins/jquery-inputlimiter/jquery.inputlimiter.1.0.css"
    recaptcha:
        public_key: 6Leu0dcSAAAAAB4kNXDhzs31du1flS_AJTIAU95-
        private_key: 6Leu0dcSAAAAAFT-gvi8s8seI128vKzqRNy2sdwn
    tinymce: 
        tiny_mce_jquery_path_js: "jquery/plugins/tinymce/jscripts/tiny_mce/jquery.tinymce.js"
        tiny_mce_path_js: "jquery/plugins/tinymce/jscripts/tiny_mce/tiny_mce.js"
        ajaxfilemanager_path_php: "jquery/plugins/tinymce/jscripts/tiny_mce/plugins/ajaxfilemanager/ajaxfilemanager.php"
        theme: advanced
        skin: default
        skin_variant: silver
        width: "70%"
        height: 300
        filemanager: true
        security: [ROLE_SUPER_ADMIN]
    upload: 
        plupload_path_js: "jquery/plugins/plupload/js/plupload.js"
        plupload_html5_path_js: "jquery/plugins/plupload/js/plupload.html5.js"
        plupload_flash_path_js: "jquery/plugins/plupload/js/plupload.flash.js"
        plupload_flash_path_swf: "jquery/plugins/plupload/js/plupload.flash.swf"
        jcrop_path_js: "jquery/plugins/jcrop/js/jquery.Jcrop.min.js"
        jcrop_path_css: jquery/plugins/jcrop/css/jquery.Jcrop.min.css
        colorbox_path_js: "jquery/plugins/colorbox/jquery.colorbox-min.js"
        colorbox_path_css: "jquery/plugins/colorbox/colorbox.css"
        max_upload_size: 4M
        temporary_dir: "temp"
        file_autoclear: true
        older_than: 600
        normalize_width: 1000
        normalize_height: 1000
        max_uploaded_images: 20
        max_uploaded_files: 20
            
neutron_tree:
    use_translatable: %use_translatable%
    resources: 
        path_to_jstree: jquery/plugins/jstree
        path_to_jquery_cookie_js: jquery/plugins/cookie/jquery.cookie.js
        
neutron_mvc:
    dashboard_controller: AppBundle:Backend\Default:index
    home_controller: AppBundle:Frontend\Default:index
    category:
        category_class: AppBundle\Entity\Category
          
neutron_page: 
    enable: true
    page_class: "AppBundle\\Entity\\Page"
    page_controller_backend: "app.controller.backend.plugin.page"
    form:
        type: "app_page"
    templates:
        "::Theme\\Sterling\\Plugin\\Page\\right_sidebar.html.twig": "template.right_sidebar"
        
neutron_customer_service: 
    enable: true
    customer_service_overview_class: "AppBundle\\Entity\\CustomerServiceOverview" 
    customer_service_class: "AppBundle\\Entity\\CustomerService"
    customer_service_reference_class: "AppBundle\\Entity\\CustomerServiceReference"
    customer_service_overview_controller_backend: app.controller.backend.plugin.customer_service_overview
    customer_service_controller_backend: app.controller.backend.plugin.customer_service
    customer_service_overview_form: 
        type: app_customer_service_overview
    customer_service_form: 
        type: app_customer_service
    customer_service_overview_templates:
        "::Theme\\Sterling\\Plugin\\CustomerService\\Overview\\standard.html.twig": "template.standard"
    customer_service_templates:
        "::Theme\\Sterling\\Plugin\\CustomerService\\Item\\standard.html.twig": "template.standard"
            
neutron_team_member:  
    enable: true
    team_member_overview_class: "AppBundle\\Entity\\TeamMemberOverview" 
    team_member_reference_class: "AppBundle\\Entity\\TeamMemberReference" 
    team_member_class: "AppBundle\\Entity\\TeamMember" 
    team_member_overview_controller_backend: "app.controller.backend.plugin.team_member_overview"
    team_member_overview_templates:
        "::Theme\\Sterling\\Plugin\\TeamMember\\Overview\\standard.html.twig": "template.standard"
    team_member_overview_form:
        type: app_team_member_overview
    team_member_form:
        type: app_team_member
    
neutron_block_text:
    enable: true
    block_text_class: AppBundle\Entity\BlockText
    templates: 
        "::Theme\\Sterling\\Widget\\BlockText\\standard.html.twig": "template.standard"
    widget_options:
        plugin_aware: true
        allowed_plugins:
            - neutron.plugin.page
            - neutron.plugin.customer_services
        panel_aware: true
        allowed_panels:
            - page_panel_sidebar_right
            - customer_services_panel_sidebar_right
    
neutron_social_networks:
    enable: true
    social_network_class: AppBundle\Entity\SocialNetwork
    template: "::Theme\\Sterling\\Widget\\SocialNetworks\\index.html.twig"
    widget_options:
        plugin_aware: true
        allowed_plugins:
            - neutron.plugin.page
        panel_aware: true
        allowed_panels:
            - page_panel_sidebar_right
            
neutron_contact: 
    enable: true
    mail_recipients: ["azazen09@gmail.com"]
    mail_templates:
           "AppBundle:Frontend\\Mailer\\Contact:standard.html.twig": "template.standard"
    contact: 
        class: AppBundle\Entity\Contact
        controller_backend: app.controller.backend.plugin.contact
        form:
            type: app_backend_contact
        templates:
            "AppBundle:Frontend\\Plugin\\Contact:standard.html.twig": "template.standard"
    widget_contact_form: 
        enable: true
        class: AppBundle\Entity\ContactForm
        form_choices:
            "app_frontend_contact_standard": "form.standard"
        templates:
            "AppBundle:Frontend\\Plugin\\Contact\\ContactForm:contact_standard.html.twig": "template.standard"
    contact_info: 
        class: AppBundle\Entity\ContactInfo
        widget_class: AppBundle\Entity\WidgetContactInfo
        reference_class: AppBundle\Entity\ContactInfoReference
        widget_templates:
            "::Theme\\Sterling\\Plugin\\Contact\\WidgetContactInfo\\standard.html.twig": "template.standard"


  
jms_translation:
    configs:
        Application:
            dirs: [%kernel.root_dir%, %kernel.root_dir%/../src]
            output_dir: %kernel.root_dir%/Resources/translations
            ignored_domains: [routes]
            excluded_names: [*TestCase.php, *Test.php]
            excluded_dirs: [cache, data, logs, Tests]
            
jms_i18n_routing:
    default_locale: %locale%
    locales: [en, nl, bg]
    strategy: prefix_except_default

avalanche_imagine:
    driver: imagick
    source_root:  %kernel.root_dir%/../web
    web_root:     %kernel.root_dir%/../web
    cache_prefix: cache
    filters:
        PageImage_thumb:
            type:    thumbnail
            options: { size: [620, 161], mode: outbound, quality: 80 }
        CustomerServiceImage_thumb:
            type:    thumbnail
            options: { size: [670, 321], mode: outbound, quality: 80 }
        TeamMemberImage_thumb:
            type:    thumbnail
            options: { size: [140, 105], mode: outbound, quality: 80 }
        ContactImage_thumb:
            type:    thumbnail
            options: { size: [650, 169], mode: outbound, quality: 80 }
