jms_security_extra:
    secure_all_services: false
    expressions: true
    method_access_control:
        'AppBundle:.*:testAction$': 'hasRole("GOD") or hasRole("ROLE_USER")'
        'NeutronUserBundle:.*:indexAction$': hasRole("ROLE_ADMIN")'
        
#       '^MyNamespace\MyService::foo$': 'hasPermission(#user, "VIEW")'

security:
    providers:
        fos_userbundle:
            id: fos_user.user_manager

    encoders:
        "FOS\UserBundle\Model\UserInterface":
            algorithm: sha512
            encode_as_base64: false
            iterations: 1
        
    firewalls:
        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            pattern: ^/
            form_login:
                provider: fos_userbundle
                csrf_provider: form.csrf_provider
                use_forward: true
                success_handler: neutron_user.security.authentication_handler
                failure_handler: neutron_user.security.authentication_handler
            remember_me:
                key:      aSecretKey
                lifetime: 3600
                path:     /
            logout:       true
            anonymous:    true
            switch_user:  true
     
    access_control:
        - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin, role: ROLE_ADMIN }
        - { path: ^/_neutron-datagrid/options/user_management, role: ROLE_ADMIN }
        - { path: ^/_neutron-datagrid/data/user_management, role: ROLE_ADMIN }
        
    role_hierarchy:
        ROLE_SUPER_ADMIN: [ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]
     
    acl:
        connection: default
        
    access_decision_manager:
        strategy: unanimous
