<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Primus &bull; Login</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Styles -->
<link rel="stylesheet" href="files/micro.css">
<link rel="stylesheet" href="files/assets/tipsy.css">
<link rel="stylesheet" href="files/assets/uniform.css">
<!-- Scripts -->
<script src="files/assets/jquery.js"></script>
<script src="files/assets/jquery.uniform.js"></script>
<script src="files/assets/jquery.tipsy.js"></script>
<script src="files/micro.js"></script>
<script src="files/demo.js"></script>
<!--[if lt IE 9]><script src="files/assets/html5shiv.js"></script><![endif]-->
</head>
<body class="animated">
	<div id="page">
		<div class="msg success">
			<p>
				<strong>Success!</strong> Your username is valid.
			</p>
			<a class="close">&times;</a>
		</div>
		<div class="msg error">
			<p>
				<strong>Error!</strong> Something went wrong.
			</p>
			<a class="close">&times;</a>
		</div>
		<header>
			<h2>Login</h2>
			<ul class="switcher">
				<li><a href="index.html#" class="btn">Messages example</a></li>
			</ul>
		</header>
		<form action="dashboard.html" method="post">
			<fieldset class="form">
				<div class="field">
					<label for="username">Username <small>Can't sign
							in? Maybe <a href="forgot.html">forgot your username</a>?
					</small></label>
					<div class="controls">
						<input type="text" id="username" class="input">
						<p>
							<strong>Success!</strong> Your username is valid.
						</p>
					</div>
				</div>
				<div class="field">
					<label for="password">Password <small>Remember your
							username, but <a href="forgot.html">forgot password</a>?
					</small></label>
					<div class="controls">
						<input type="password" id="password" class="input">
						<p>
							<strong>Error!</strong> Something went wrong.
						</p>
					</div>
				</div>
				<div class="actions">
					<div class="controls">
						<input type="submit" value="Sign in" class="btn action"><span>or</span><input
							type="reset" value="Reset form" class="btn"><input
							type="checkbox" id="remember" title="Remember me" checked>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
	<script src="http://mint.webking.pl/?js"></script>
</body>
</html>